.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 6em;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background: lightgray;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
